.bg-image {
    height: 60vh;
}

.carousel-home {
  height: 60vh; /* o qualunque altezza tu desideri */
  width: 100%;
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
  display: block;
}

.card-img-home {
  height: 400px; /* Imposta l'altezza desiderata */
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.card-link:hover {
  text-decoration: none;
}

.carousel-duomo-img {
  height: 400px; /* Imposta l'altezza desiderata */
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
}

#carouselDuomo .carousel-inner,
#carouselDuomo .carousel-item {
  height: 500px; /* qui metti l'altezza che vuoi */
}

#carouselDuomo .carousel-item img {
  height: 100%;      /* riempie verticalmente il carousel */
  width: 100%;       /* riempie orizzontalmente */
  object-fit: cover; /* mantiene le proporzioni, ritaglia se necessario */
}

.container-padding {
  margin-left: 10rem;   /* riduci il padding a sinistra */
  margin-right: 10rem;  /* riduci il padding a destra */
  padding-top: 2rem;
}

.paragraph {
  padding-top: 3rem;
  margin-right: 3rem;
}

.paragraph-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background-color: aqua; */
}

.paragraph p {
  text-align: justify;
}

.footer-container {
  
  text-align: center;
  /* padding: 1rem 0; */
  width: 100%;
}

.footer-top {
  background-color: #B28371;
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.footer-bottom {
  background-color: #F1EDE8;
  color: white;
  text-align: center;
  padding: 3rem 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.footer-bottom-content {
  width: 300px;
  color: black;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.footer-bottom-content h5 {
  color: #B28371;
}

/* .duomo-carousel-description {
  text-align: center;
} */

.duomo-carousel-description {
  width: 350px;
  color: white;
  /* padding: 1rem; */
  padding-top: 12px;
  padding-bottom: 1px;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #b2837198;
}

.carousel-caption {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}