.bg-image {
    height: 60vh;
}

.carousel-home {
  height: 60vh; /* o qualunque altezza tu desideri */
  width: 100%;
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
  display: block;
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.card-link:hover {
  text-decoration: none;
}

.carousel-church {
  height: 30vh; /* o qualunque altezza tu desideri */
  width: 40%;
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
  display: block;
}


.carousel-container {
  height: 20vh; /* Imposta l'altezza desiderata per il contenitore */  /* Centra verticalmente */
  display: flex;
  align-items: center;
}

.carousel-church-item {
  object-fit: cover;
}