.bg-image {
    height: 60vh;
}

.carousel-home {
  height: 60vh; /* o qualunque altezza tu desideri */
  width: 100%;
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
  display: block;
}

.card-img-home {
  height: 400px; /* Imposta l'altezza desiderata */
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.card-link:hover {
  text-decoration: none;
}

.carousel-duomo-img {
  height: 400px; /* Imposta l'altezza desiderata */
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
}

#carouselDuomo .carousel-inner,
#carouselDuomo .carousel-item {
  height: 500px; /* qui metti l'altezza che vuoi */
}

#carouselDuomo .carousel-item img {
  height: 100%;      /* riempie verticalmente il carousel */
  width: 100%;       /* riempie orizzontalmente */
  object-fit: cover; /* mantiene le proporzioni, ritaglia se necessario */
}