.carousel-home {
  height: 60vh; 
  width: 100%;
  object-fit: cover; 
  display: block;
}

.card-img-home {
  height: 400px; 
  object-fit: cover; 
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.card-link:hover {
  text-decoration: none;
}
