
.navbar-container {
  background-color: #F1EDE8;
}

.footer-container {
  
  text-align: center;
  width: 100%;
}

.footer-top {
  background-color: rgb(129, 97, 79);
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.footer-bottom {
  background-color: #F1EDE8;
  color: white;
  text-align: center;
  padding: 3rem 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.footer-bottom-content {
  width: 300px;
  color: black;
}

.footer-bottom-content h5 {
  color: rgb(129, 97, 79);
}

.title-container {
  color: white;
  text-align: justify;
  background: linear-gradient(90deg,rgba(129, 97, 79, 0.9) 0%, rgba(129, 97, 79, 0.8) 60%, rgba(129, 97, 79, 0) 100%);
  padding: 20px;
  padding-right: 200px;
  
}