.carousel-duomo-img {
  height: 400px; /* Imposta l'altezza desiderata */
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
}

#carouselDuomo .carousel-inner,
#carouselDuomo .carousel-item {
  height: 500px; /* qui metti l'altezza che vuoi */
}

#carouselDuomo .carousel-item img {
  height: 100%;      /* riempie verticalmente il carousel */
  width: 100%;       /* riempie orizzontalmente */
  object-fit: cover; /* mantiene le proporzioni, ritaglia se necessario */
}

.container-padding {
  margin-left: 10rem;   /* riduci il padding a sinistra */
  margin-right: 10rem;  /* riduci il padding a destra */
  padding-top: 2rem;
}

.paragraph {
  padding-top: 2rem;
  margin-right: 3rem;
}

.paragraph-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background-color: aqua; */
}

.paragraph p {
  text-align: justify;
}

.duomo-carousel-description {
  width: 350px;
  color: white;
  /* padding: 1rem; */
  padding-top: 12px;
  padding-bottom: 1px;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(129, 97, 79, 0.7);
}

.carousel-caption {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.badge {
  background-color: rgb(129, 97, 79);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-size: larger; */
}

.duomo-map-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}