.carousel-duomo-img {
  height: 400px;
  object-fit: cover;
}

#carouselDuomo .carousel-inner,
#carouselDuomo .carousel-item {
  height: 500px; /
}

#carouselDuomo .carousel-item img {
  height: 100%;  
  width: 100%;       
  object-fit: cover; 
}

.container-padding {
  margin-left: 10rem;   
  margin-right: 10rem;  
  padding-top: 2rem;
}

.paragraph {
  padding-top: 2rem;
  margin-right: 3rem;
}

.paragraph-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.paragraph p {
  text-align: justify;
}

.duomo-carousel-description {
  width: 350px;
  color: white;
  padding-top: 12px;
  padding-bottom: 1px;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(129, 97, 79, 0.7);
}

.carousel-caption {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.badge {
  background-color: rgb(129, 97, 79);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.duomo-map-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}